In [2]:
import numpy as np
import pandas as pd

In [3]:
s1 = pd.Series([1,2,3,4])
s1

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
s1.values

array([1, 2, 3, 4])

In [5]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
s2 = pd.Series(np.arange(10))
s2

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [9]:
s3 = pd.Series({'1':1,'2':2,'3':3})
s3

1    1
2    2
3    3
dtype: int64

In [12]:
s3.values

array([1, 2, 3])

In [13]:
s3.index

Index(['1', '2', '3'], dtype='object')

In [14]:
s4 = pd.Series([1,2,3,4],index =['A','B','C','D'])

In [18]:
print(f"values:{s4.values},   ,index:{s4.index}")

values:[1 2 3 4],   ,index:Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
s4['A']

1

In [20]:
s4[s4>2]

C    3
D    4
dtype: int64

In [21]:
s4.to_dict()

{'A': 1, 'B': 2, 'C': 3, 'D': 4}

In [22]:
s5 = pd.Series(s4.to_dict())

In [23]:
s6 = pd.Series(s5,index= ['A','B','C','D','E'])

In [24]:
s6

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [25]:
pd.isnull(s6)

A    False
B    False
C    False
D    False
E     True
dtype: bool

In [26]:
pd.notnull(s6)

A     True
B     True
C     True
D     True
E    False
dtype: bool

In [27]:
s6.name = 'demo'

In [28]:
s6

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
Name: demo, dtype: float64

In [29]:
# data frame
from pandas import Series, DataFrame

In [30]:
import webbrowser
link = 'https://www.tiobe.com/tiobe-index/'
webbrowser.open(link)

True

In [43]:
import chardet
with open('/Users/chongbei/Downloads/HomeCredit_columns_description.csv', 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large
df = pd.read_csv('/Users/chongbei/Downloads/HomeCredit_columns_description.csv', encoding=result['encoding'])
df

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
...,...,...,...,...,...
214,217,installments_payments.csv,NUM_INSTALMENT_NUMBER,On which installment we observe payment,NaN
215,218,installments_payments.csv,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
216,219,installments_payments.csv,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
217,220,installments_payments.csv,AMT_INSTALMENT,What was the prescribed installment amount of ...,NaN
218,221,installments_payments.csv,AMT_PAYMENT,What the client actually paid on previous cred...,NaN

In [44]:
type(df)

pandas.core.frame.DataFrame

In [45]:
df.columns

Index(['Unnamed: 0', 'Table', 'Row', 'Description', 'Special'], dtype='object')

In [46]:
df.Row

0                 SK_ID_CURR
1                     TARGET
2         NAME_CONTRACT_TYPE
3                CODE_GENDER
4               FLAG_OWN_CAR
               ...
214    NUM_INSTALMENT_NUMBER
215          DAYS_INSTALMENT
216       DAYS_ENTRY_PAYMENT
217           AMT_INSTALMENT
218              AMT_PAYMENT
Name: Row, Length: 219, dtype: object

In [47]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

data = {'Country':['Belgium','India','Brazil'],
        'Capital':['Brusseles','New Delhi','Brasilia'],
        'Population':[11190846,12312312312,12312312313]}

In [48]:
s1 = pd.Series(data['Country'])

In [49]:
s1

0    Belgium
1      India
2     Brazil
dtype: object

In [50]:
s1.values

array(['Belgium', 'India', 'Brazil'], dtype=object)

In [51]:
s1.index

RangeIndex(start=0, stop=3, step=1)

In [52]:
df1 = pd.DataFrame(data)

In [53]:
df1

   Country    Capital   Population
0  Belgium  Brusseles     11190846
1    India  New Delhi  12312312312
2   Brazil   Brasilia  12312312313

In [54]:
country = df1['Country']

In [55]:
type(country)

pandas.core.series.Series

In [56]:
df1.iterrows()

In [61]:
for row in df1.iterrows():
    #print(row),print(type(row)),print(len(row))
    #print(type(row[0]),type(row[1]))
    print(row[0],row[1])

0 Country         Belgium
Capital       Brusseles
Population     11190846
Name: 0, dtype: object
1 Country             India
Capital         New Delhi
Population    12312312312
Name: 1, dtype: object
2 Country            Brazil
Capital          Brasilia
Population    12312312313
Name: 2, dtype: object

In [65]:
s1 = pd.Series(data['Capital'])
s2 = pd.Series(data['Country'])
s3 = pd.Series(data['Population'])
df_new = pd.DataFrame([s1,s2,s3])
df_new = df_new.T
df_new

           0        1            2
0  Brusseles  Belgium     11190846
1  New Delhi    India  12312312312
2   Brasilia   Brazil  12312312313

In [66]:
imdb = pd.read_csv('/Users/chongbei/Downloads/movie_metadata.csv')

In [68]:
imdb.shape

(5043, 28)

In [69]:
imdb.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [70]:
# 10-20行 所有列
imdb.iloc[10:20,:]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
10,Color,Zack Snyder,673.0,183.0,0.0,2000.0,Lauren Cohan,15000.0,330249062.0,Action|Adventure|Sci-Fi,...,3018.0,English,USA,PG-13,250000000.0,2016.0,4000.0,6.9,2.35,197000
11,Color,Bryan Singer,434.0,169.0,0.0,903.0,Marlon Brando,18000.0,200069408.0,Action|Adventure|Sci-Fi,...,2367.0,English,USA,PG-13,209000000.0,2006.0,10000.0,6.1,2.35,0
12,Color,Marc Forster,403.0,106.0,395.0,393.0,Mathieu Amalric,451.0,168368427.0,Action|Adventure,...,1243.0,English,UK,PG-13,200000000.0,2008.0,412.0,6.7,2.35,0
13,Color,Gore Verbinski,313.0,151.0,563.0,1000.0,Orlando Bloom,40000.0,423032628.0,Action|Adventure|Fantasy,...,1832.0,English,USA,PG-13,225000000.0,2006.0,5000.0,7.3,2.35,5000
14,Color,Gore Verbinski,450.0,150.0,563.0,1000.0,Ruth Wilson,40000.0,89289910.0,Action|Adventure|Western,...,711.0,English,USA,PG-13,215000000.0,2013.0,2000.0,6.5,2.35,48000
15,Color,Zack Snyder,733.0,143.0,0.0,748.0,Christopher Meloni,15000.0,291021565.0,Action|Adventure|Fantasy|Sci-Fi,...,2536.0,English,USA,PG-13,225000000.0,2013.0,3000.0,7.2,2.35,118000
16,Color,Andrew Adamson,258.0,150.0,80.0,201.0,Pierfrancesco Favino,22000.0,141614023.0,Action|Adventure|Family|Fantasy,...,438.0,English,USA,PG,225000000.0,2008.0,216.0,6.6,2.35,0
17,Color,Joss Whedon,703.0,173.0,0.0,19000.0,Robert Downey Jr.,26000.0,623279547.0,Action|Adventure|Sci-Fi,...,1722.0,English,USA,PG-13,220000000.0,2012.0,21000.0,8.1,1.85,123000
18,Color,Rob Marshall,448.0,136.0,252.0,1000.0,Sam Claflin,40000.0,241063875.0,Action|Adventure|Fantasy,...,484.0,English,USA,PG-13,250000000.0,2011.0,11000.0,6.7,2.35,58000
19,Color,Barry Sonnenfeld,451.0,106.0,188.0,718.0,Michael Stuhlbarg,10000.0,179020854.0,Action|Adventure|Comedy|Family|Fantasy|Sci-Fi,...,341.0,English,USA,PG-13,225000000.0,2012.0,816.0,6.8,1.85,40000

In [71]:
imdb.loc[10:15,:'duration']

    color   director_name  num_critic_for_reviews  duration
10  Color     Zack Snyder                   673.0     183.0
11  Color    Bryan Singer                   434.0     169.0
12  Color    Marc Forster                   403.0     106.0
13  Color  Gore Verbinski                   313.0     151.0
14  Color  Gore Verbinski                   450.0     150.0
15  Color     Zack Snyder                   733.0     143.0